<section class="no__page">
    <div class="container">
        <div class="row title-block title-block__pages">
            <div class="col">
                <div class="main-title main-title__pages">
                    404
                </div>
            </div>
        </div>  
        <div class="row no__page-text">
            <div class="col">
                <div class="no__page-subtitle">К сожалению, такой страницы не существует.</div>
                <p>Перейдите на <a href="/" title="#" class="no__page-link">главную страницу</a>, чтобы выбрать нужный раздел.<br>Также вы можете следить за обновлениями в наших социальных сетях.</p>


            </div>
        </div>
    </div>
</section>




<div style="height:200px;width: 100%;display: block;"> </div>