<section class="events-post">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>
                    Как выбрать камень? Секреты выбора ювелирных изделий.
                </h1>
                <div class="events-post__subtext">
                    Блог – это онлайн журнал, интернет-дневник, основным наполнением которого являются систематически добавляемые записи. 
                </div>
            </div>
            <div class="col">
                <img src="../../img/jpg/blog_post_1.jpg" title="#" class="events-post__main-img">
            </div>
        </div>
        <div class="row events-post__text">
            <div class="col">
                <div class="events-post__info">
                    14.05.2020, Каннский кинофестиваль, Канны
                </div>
                <p>Блог – это онлайн журнал, интернет-дневник, основным наполнением которого являются систематически добавляемые записи. Записи содержат текст, фотографии, графические элементы или мультимедиа. Записи в блоге обычно не длинные и сгруппированы в обратной хронологической последовательности.</p>
                
                <p>Чаще всего блоги публичны, имеют читателей, вступающих в полемику с автором блога посредством комментариев к записи или в своем личном блоге. Блог – это онлайн журнал, интернет-дневник, основным наполнением которого являются систематически добавляемые записи. <strong>Записи</strong> содержат текст, фотографии, графические элементы или мультимедиа. Записи в блоге обычно не длинные и сгруппированы  в обратной хронологической последовательности. Чаще всего блоги публичны, имеют читателей, вступающих в полемику с автором блога посредством комментариев к записи или в своем личном блоге.</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="shared-page">
                    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                    <div class="elfsight-app-d07d494e-95d6-4e6d-8da8-d5211d45dee9"></div>
                </div>
            </div>
        </div>
    </div>
</section>


@@include("../../blocks/modules/moreposts/morepost.html")

<div class="youtube__widjet">
    <div class="container">
        <div class="row">
            <div class="col">
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-2bcaf4d2-4846-488d-a409-15502424c94d"></div>
            </div>
        </div>
    </div>
</div>


<div class="youtube__widjet">
    <div class="container">
        <div class="row">
            <div class="col">
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-bfe92f3a-4c95-4c82-9aa6-f1881d1090f4"></div>
            </div>
        </div>
    </div>
</div>