<section class="stone__category">
    
    <div class="container">
        <div class="row title-block title-block__pages">
            <div class="col">
                <div class="main-title main-title__pages">
                    Наши украшения
                </div>
            </div>
            <div class="col title-description title-description__pages">
                <p class="title-description__text">В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом для развития в этом бизнесе и знакомствам со многими мастерами ювелирных дел.</p>
            </div>
        </div>  
        <div class="row stone__filter-block">
            <ul class="stone__filter">
                <li class="stone__filter-item">
                    <div class="stone__filter-button">
                        Кольца
                    </div>
                </li>
                <li class="stone__filter-item">
                    <div class="stone__filter-button">
                        Серьги
                    </div>
                </li>
                <li class="stone__filter-item">
                    <div class="stone__filter-button">
                        Подвески
                    </div>
                </li>
                <li class="stone__filter-item">
                    <div class="stone__filter-button">
                        Гарнитуры
                    </div>
                </li>
            </ul>
        </div>
        <div class="row stone-posts">
            <div class="col">
                <div class="stone-item">
                    <a href="/stonepage.html" title="#" class="stone-item__link">
                        <img src="../../img/jpg/stone_page_1.jpg" title="#" class="stone-item__img">
                        <div class="jewelry-item__hover">
                            <div class="jewelry-item__title">
                                Бриллиант №9324-267
                            </div>
                            <div class="jewelry-item__text">
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом для развития в этом бизнесе и знакомствам со многими мастерами ювелирных дел.</p>
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом.</p>
                            </div>
                            <a href="#" title="#" class="jewelry-item__link">
                                Подробнее
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="stone-item">
                    <a href="/stonepage.html" title="#" class="stone-item__link">
                        <img src="../../img/jpg/stone_page_2.jpg" title="#" class="stone-item__img">
                        <div class="jewelry-item__hover">
                            <div class="jewelry-item__title">
                                Бриллиант №9324-267
                            </div>
                            <div class="jewelry-item__text">
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом для развития в этом бизнесе и знакомствам со многими мастерами ювелирных дел.</p>
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом.</p>
                            </div>
                            <a href="#" title="#" class="jewelry-item__link">
                                Подробнее
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="stone-item">
                    <a href="/stonepage.html" title="#" class="stone-item__link">
                        <img src="../../img/jpg/stone_page_3.jpg" title="#" class="stone-item__img">
                        <div class="jewelry-item__hover">
                            <div class="jewelry-item__title">
                                Бриллиант №9324-267
                            </div>
                            <div class="jewelry-item__text">
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом для развития в этом бизнесе и знакомствам со многими мастерами ювелирных дел.</p>
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом.</p>
                            </div>
                            <a href="#" title="#" class="jewelry-item__link">
                                Подробнее
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="stone-item">
                    <a href="/stonepage.html" title="#" class="stone-item__link">
                        <img src="../../img/jpg/stone_page_4.jpg" title="#" class="stone-item__img">
                        <div class="jewelry-item__hover">
                            <div class="jewelry-item__title">
                                Бриллиант №9324-267
                            </div>
                            <div class="jewelry-item__text">
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом для развития в этом бизнесе и знакомствам со многими мастерами ювелирных дел.</p>
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом.</p>
                            </div>
                            <a href="#" title="#" class="jewelry-item__link">
                                Подробнее
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="stone-item">
                    <a href="/stonepage.html" title="#" class="stone-item__link">
                        <img src="../../img/jpg/stone_page_5.jpg" title="#" class="stone-item__img">
                        <div class="jewelry-item__hover">
                            <div class="jewelry-item__title">
                                Бриллиант №9324-267
                            </div>
                            <div class="jewelry-item__text">
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом для развития в этом бизнесе и знакомствам со многими мастерами ювелирных дел.</p>
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом.</p>
                            </div>
                            <a href="#" title="#" class="jewelry-item__link">
                                Подробнее
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="stone-item">
                    <a href="/stonepage.html" title="#" class="stone-item__link">
                        <img src="../../img/jpg/stone_page_6.jpg" title="#" class="stone-item__img">
                        <div class="jewelry-item__hover">
                            <div class="jewelry-item__title">
                                Бриллиант №9324-267
                            </div>
                            <div class="jewelry-item__text">
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом для развития в этом бизнесе и знакомствам со многими мастерами ювелирных дел.</p>
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом.</p>
                            </div>
                            <a href="#" title="#" class="jewelry-item__link">
                                Подробнее
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="stone-item">
                    <a href="/stonepage.html" title="#" class="stone-item__link">
                        <img src="../../img/jpg/stone_page_7.jpg" title="#" class="stone-item__img">
                        <div class="jewelry-item__hover">
                            <div class="jewelry-item__title">
                                Бриллиант №9324-267
                            </div>
                            <div class="jewelry-item__text">
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом для развития в этом бизнесе и знакомствам со многими мастерами ювелирных дел.</p>
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом.</p>
                            </div>
                            <a href="#" title="#" class="jewelry-item__link">
                                Подробнее
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="stone-item">
                    <a href="/stonepage.html" title="#" class="stone-item__link">
                        <img src="../../img/jpg/stone_page_8.jpg" title="#" class="stone-item__img">
                        <div class="jewelry-item__hover">
                            <div class="jewelry-item__title">
                                Бриллиант №9324-267
                            </div>
                            <div class="jewelry-item__text">
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом для развития в этом бизнесе и знакомствам со многими мастерами ювелирных дел.</p>
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом.</p>
                            </div>
                            <a href="#" title="#" class="jewelry-item__link">
                                Подробнее
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="stone-item">
                    <a href="/stonepage.html" title="#" class="stone-item__link">
                        <img src="../../img/jpg/stone_page_9.jpg" title="#" class="stone-item__img">
                        <div class="jewelry-item__hover">
                            <div class="jewelry-item__title">
                                Бриллиант №9324-267
                            </div>
                            <div class="jewelry-item__text">
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом для развития в этом бизнесе и знакомствам со многими мастерами ювелирных дел.</p>
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом.</p>
                            </div>
                            <a href="#" title="#" class="jewelry-item__link">
                                Подробнее
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="stone-item">
                    <a href="/stonepage.html" title="#" class="stone-item__link">
                        <img src="../../img/jpg/stone_page_10.jpg" title="#" class="stone-item__img">
                        <div class="jewelry-item__hover">
                            <div class="jewelry-item__title">
                                Бриллиант №9324-267
                            </div>
                            <div class="jewelry-item__text">
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом для развития в этом бизнесе и знакомствам со многими мастерами ювелирных дел.</p>
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом.</p>
                            </div>
                            <a href="#" title="#" class="jewelry-item__link">
                                Подробнее
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="stone-item">
                    <a href="/stonepage.html" title="#" class="stone-item__link">
                        <img src="../../img/jpg/stone_page_11.jpg" title="#" class="stone-item__img">
                        <div class="jewelry-item__hover">
                            <div class="jewelry-item__title">
                                Бриллиант №9324-267
                            </div>
                            <div class="jewelry-item__text">
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом для развития в этом бизнесе и знакомствам со многими мастерами ювелирных дел.</p>
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом.</p>
                            </div>
                            <a href="#" title="#" class="jewelry-item__link">
                                Подробнее
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="stone-item">
                    <a href="/stonepage.html" title="#" class="stone-item__link">
                        <img src="../../img/jpg/stone_page_12.jpg" title="#" class="stone-item__img">
                        <div class="jewelry-item__hover">
                            <div class="jewelry-item__title">
                                Бриллиант №9324-267
                            </div>
                            <div class="jewelry-item__text">
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом для развития в этом бизнесе и знакомствам со многими мастерами ювелирных дел.</p>
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом.</p>
                            </div>
                            <a href="#" title="#" class="jewelry-item__link">
                                Подробнее
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="stone-item">
                    <a href="/stonepage.html" title="#" class="stone-item__link">
                        <img src="../../img/jpg/stone_page_13.jpg" title="#" class="stone-item__img">
                        <div class="jewelry-item__hover">
                            <div class="jewelry-item__title">
                                Бриллиант №9324-267
                            </div>
                            <div class="jewelry-item__text">
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом для развития в этом бизнесе и знакомствам со многими мастерами ювелирных дел.</p>
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом.</p>
                            </div>
                            <a href="#" title="#" class="jewelry-item__link">
                                Подробнее
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="stone-item">
                    <a href="/stonepage.html" title="#" class="stone-item__link">
                        <img src="../../img/jpg/stone_page_14.jpg" title="#" class="stone-item__img">
                        <div class="jewelry-item__hover">
                            <div class="jewelry-item__title">
                                Бриллиант №9324-267
                            </div>
                            <div class="jewelry-item__text">
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом для развития в этом бизнесе и знакомствам со многими мастерами ювелирных дел.</p>
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом.</p>
                            </div>
                            <a href="#" title="#" class="jewelry-item__link">
                                Подробнее
                            </a>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col">
                <div class="stone-item">
                    <a href="/stonepage.html" title="#" class="stone-item__link">
                        <img src="../../img/jpg/stone_page_15.jpg" title="#" class="stone-item__img">
                        <div class="jewelry-item__hover">
                            <div class="jewelry-item__title">
                                Бриллиант №9324-267
                            </div>
                            <div class="jewelry-item__text">
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом для развития в этом бизнесе и знакомствам со многими мастерами ювелирных дел.</p>
                                <p>В сфере ювелирных изделий и драгоценных камней различные мероприятия и выставки являются мощным стимулом.</p>
                            </div>
                            <a href="#" title="#" class="jewelry-item__link">
                                Подробнее
                            </a>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


@@include("../../blocks/modules/pagination/pagination.html")


<div class="youtube__widjet">
    <div class="container">
        <div class="row">
            <div class="col">
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-2bcaf4d2-4846-488d-a409-15502424c94d"></div>
            </div>
        </div>
    </div>
</div>


<div class="youtube__widjet">
    <div class="container">
        <div class="row">
            <div class="col">
                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-bfe92f3a-4c95-4c82-9aa6-f1881d1090f4"></div>
            </div>
        </div>
    </div>
</div>